---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Validate and Test Charts

on:
  pull_request:

permissions: {}

concurrency:
  group: validate-helm-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-pr:
    name: Validate PR title
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Install helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Ensure documentation is updated
        uses: docker://jnorwood/helm-docs:v1.14.2@sha256:7e562b49ab6b1dbc50c3da8f2dd6ffa8a5c6bba327b1c6335cc15ce29267979c

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${TARGET_BRANCH})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi
        env:
          TARGET_BRANCH: ${{ github.event.repository.default_branch }}

      - name: Run chart-testing
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --target-branch ${TARGET_BRANCH} --validate-maintainers=false
        env:
          TARGET_BRANCH: ${{ github.event.repository.default_branch }}
